<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ALL movies</title>
    </head>
    <%- include('./moduls/style.ejs') %>

    <body>
        <h1 style="color: #494d5f">
            <a href="/" style="margin-left: 20px; color: #494d5f">Home</a>
            <form action="/films/search" method="POST">
                <p style="float: right; margin-right: 20px; color: #494d5f">
                    <input type="text" name="name" value="search" />
                    <input
                        type="submit"
                        style="width: 40px; height: 35px"
                        class="custom-btn btn-4"
                        value="?"
                    />
                </p>
            </form>
        </h1>
        <button
            class="custom-btn btn-4"
            onclick="window.location.href = '/films/add';"
        >
            Add a new movie
        </button>

        <% if (films.length) { %> <% films.forEach(({ id, genre, name,
        description })=>{ %>
        <h1 style="margin-left: 20px; color: #494d5f">
            Name: <%= name %>, Genre: <%= genre %>
        </h1>
        <button class="custom-btn btn-4" data-id="<%= id %>">
            Delete this movie
        </button>
        <button
            class="custom-btn btn-4"
            onclick="window.location.href = '/edit/<%= id %>';"
        >
            Edit movie
        </button>
        <p style="margin-left: 20px; color: #494d5f">
            Description: <%= description %>
        </p>
        <% }) %> <% } %>

        <script>
            document.addEventListener('click', (e) => {
                const id = e.target?.dataset?.id || null;
                if (id) {
                    fetch(`/films/${id}`, {
                        method: 'DELETE',
                    }).then(() => {
                        window.location.reload();
                    });
                }
            });
        </script>
    </body>
</html>
