<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <%- include('./moduls/style.ejs') %>
    <body>
        <h1 style="color: #494d5f">
            <a href="/films" style="margin-left: 20px; color: #494d5f"
                >ALL movies</a
            >
            <a href="/genre" style="margin-left: 20px; color: #494d5f"
                >ALL genres</a
            >
        </h1>
    </body>
</html>
